if SHIELD_Sweep_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sweep"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Sweep_LEFT || SHIELD_Sweep_RIGHT

config ZMK_SPLIT
    default y

endif

