#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Sweep";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100   95   37       0     0     0>
            , <&key_physical_attrs 100 100  190    0       0     0     0>
            , <&key_physical_attrs 100 100  284   29       0     0     0>
            , <&key_physical_attrs 100 100  379   42       0     0     0>
            , <&key_physical_attrs 100 100  686   42       0     0     0>
            , <&key_physical_attrs 100 100  781   29       0     0     0>
            , <&key_physical_attrs 100 100  875    0       0     0     0>
            , <&key_physical_attrs 100 100  970   37       0     0     0>
            , <&key_physical_attrs 100 100 1065  100       0     0     0>
            , <&key_physical_attrs 100 100    0  190       0     0     0>
            , <&key_physical_attrs 100 100   95  126       0     0     0>
            , <&key_physical_attrs 100 100  190   90       0     0     0>
            , <&key_physical_attrs 100 100  284  118       0     0     0>
            , <&key_physical_attrs 100 100  379  132       0     0     0>
            , <&key_physical_attrs 100 100  686  132       0     0     0>
            , <&key_physical_attrs 100 100  781  118       0     0     0>
            , <&key_physical_attrs 100 100  875   90       0     0     0>
            , <&key_physical_attrs 100 100  970  126       0     0     0>
            , <&key_physical_attrs 100 100 1065  190       0     0     0>
            , <&key_physical_attrs 100 100    0  279       0     0     0>
            , <&key_physical_attrs 100 100   95  216       0     0     0>
            , <&key_physical_attrs 100 100  190  180       0     0     0>
            , <&key_physical_attrs 100 100  284  208       0     0     0>
            , <&key_physical_attrs 100 100  379  221       0     0     0>
            , <&key_physical_attrs 100 100  686  221       0     0     0>
            , <&key_physical_attrs 100 100  781  208       0     0     0>
            , <&key_physical_attrs 100 100  875  180       0     0     0>
            , <&key_physical_attrs 100 100  970  216       0     0     0>
            , <&key_physical_attrs 100 100 1065  279       0     0     0>
            , <&key_physical_attrs 100 100  337  314    1500   387   364>
            , <&key_physical_attrs 100 100  434  356    3000   484   406>
            , <&key_physical_attrs 100 100  631  356 (-3000)   681   406>
            , <&key_physical_attrs 100 100  728  314 (-1500)   778   364>
            ;
    };
};